BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: "Yes"
AllowShortLambdasOnASingleLine: "None"
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: "All"
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
BreakBeforeTernaryOperators: false
